@font-face {
  font-family: manropeRegular;
  src: url(font/Manrope-Regular.ttf);
}

html, body {
  font-family: manropeRegular;
  margin: 0%;
  padding: 0%;
  background-color: #e4eeee;
}

main {
  display: flex;
  justify-content: center;
  color: #192bc7;
}

h1{
  color: rgb(0, 0, 0) !important;
}

h3 {
  margin: 0% 0% 3% 0%;
}

input {
  opacity: 0%;
  width: 0%;
  height: 0%;
  margin: 0;
}

.itemContainer {
  border-top: 0.1em solid #9e9e9e;
}

label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

img.plusSign {
  margin: 1% 0% 0% 0%;
  height: 1rem;
  opacity: 0%;
}

.title {
  display: flex;
  justify-content: space-between;
}

img.meme {
  opacity: 0;
  padding: 0% 0%;
  width: 0%;
  height: 0%;
  transition: all 0.3s linear;
  margin: auto;
}

.container:hover {
  color: rgb(0, 0, 0);
}

.container:hover .plusSign {
  opacity: 100%;
}

.itemContainer:hover img.plusSign {
  transform: rotate(45deg);
}

.itemContainer:hover img.meme {
  opacity: 1;
  width: 60%;
  height: 60%;
  padding: 5% 5%;
}

.itemContainer:active {
  color: #192bc7;
}

.itemContainer:active img.plusSign {
  filter: invert(17%) sepia(100%) saturate(3223%) hue-rotate(235deg) brightness(76%) contrast(111%);
}

input:checked ~ *{
color:rgb(0, 0, 0);
}

input:checked ~ img.meme{
  opacity: 1;
  width: 60%;
  height: 60%;
  padding: 5% 5%;
}

input:checked ~ .title > .plusSign{
  transform: rotate(45deg);
}